doctype html
html
    body
        h1 #{title}
    form
        div
            input(type="text" name="email")
        div
            input(type="password" name="password")
        input(type="submit" value="Send")

script(src='/auth.js')
