doctype html
html

  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")

  body
    script.
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '535687060470235',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v6.0'
            });
        };
    script(
        defer
        src='https://connect.facebook.net/en_US/sdk.js'
    )
    .container
      include messages

      block content
    script(defer src="/auth.js")
