doctype html
html
    head
        link(rel="stylesheet",href="/style.css")
    body
        h1 #{title}
    form
        div
            input(type="text" name="name")
        div
            input(type="text" name="email")
        input(type="submit" value="Send")
    ul(class="users")
        each item in users
          li= `${item.name} - ${item.email} - ${item._id}`
script(src='/users.js')
